@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


html, body, .container {
	text-align: center;
	color: #eee;
	background-color: #000; 
	height: 100%
}

.container {
	display: flex;
	align-items: flex;
	justify-content: flex
}

.box {
	font-family: 'Share Tech Mono', monospace;
	display: flex;
	flex-direction: row;
	width: 30%;
	margin: auto;
	padding: 30px;
	align-items: center;
	justify-content: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center
}

.icon {
	border-radius: 50%;
	height: 128px;
	margin: 3%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none
}

h1 {
	font-weight: bold;
	display: block;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px
}

h2, h3, h4, h5, h6 {
	display: block;
	margin: 0px;
	padding: 0px
}

i {
	font: italic;
	color: #eee;
	margin: 0px;
	padding: 0px
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #eee;
	margin: 0px;
	padding: 0px
}

footer {
	font-family: 'Ubuntu', monospace;
	position: fixed;
	background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 50%);
	width: 100%;
	bottom: 0;
	left: 0
};

code {
	font-family: 'Ubuntu Mono', monospace;
	background-color: #000;
	border: 1px solid #eee;
	display: inline;
	margin: 5px;
	padding: 10px
}
